/* GENERAL SPECIFICATIONS */
html { 
	box-sizing: border-box;
}

* { 
	margin:0; 
	font: 14px arial, helvetica, sans-serif;
	border-collapse:collapse;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	background-color:#e0e4cc;
}


/* MENU: Header */
#menu_header {
	line-height:90px; 
	margin-bottom:-28px;
	/*background-color:#a7dbd8;*/
}

/* MENU: Tabs */
#menu_tabs ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#menu_tabs li {
	float: left;
	border: 0px solid #6e6e6e;
	border-bottom-width: 0;
	margin: 0 2em 0 0;
}

#menu_tabs ul li ul{
	display: none;
	float: both;
	width:
}

#menu_tabs ul li:hover ul { 
	display: block;
}

#menu_tabs ul li ul li a, #menu_tabs #tabs_selected ul li ul li a {
	background:pink;
}
#menu_tabs a {
	text-decoration: none;
	display: block;
	background-color: #6e6e6e;
	padding: .5em .5em;
	color: #fff;
	width: 8.25em;
	text-align: center;
}
#menu_tabs a:hover {
	background-color: #f38630;
}
#menu_tabs #tab_selected {
	background-color: #2e2e2e;
}
#menu_tabs #tab_selected a {
	color: #fa6900;
	font-weight: bold;
	background-color: #2e2e2e;
}

/* MENU: Main Part */
#menu_main {
	height:3em;
	clear: both;
	padding: .2em 1em;
	line-height:2.75em;
	vertical-align:middle;
	background-color: #2e2e2e;
	margin-bottom: 2.5em;
}
#menu_main ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#menu_main li {
	float: left;
	margin: .75em 2em 0 0;
}
#menu_main a {
	text-decoration: none;
	display: inline;
	
	padding: .5em .5em;
	color: #FFF;
	width: 8.25em;
	text-align: center;
}
#menu_main a:hover {
	color:#fff;
	background-color:#a7dbd8;
}
#menu_main #item_selected {
	color: #69d2e7;
}
#menu_main #item_selected  a{
	color: #69d2e7;
	background-color: #2e2e2e;
}